@import '../../stylesheets/color';

.hero {
    margin: 0 auto 133px;
    width: 1114px;
    max-width: 100%;
}

.heroTitle {
  margin: 27px auto 20px;
  text-align: center;
  color: #000000;
}

.subTitle {
  margin: 0 auto 55px;
  text-align: center;
  color: $gray-base;
}

.heroButton {
  margin: 0 auto 55px;
  text-align: center;
}

.searchValue {
  margin: 0 auto 37px;
  font-weight: 500;
  text-align: center;
  color: $gray-base;
}



