.info {
    margin:0 auto 105px;
    width: 738px;
    max-width: 100%;
}

.headline {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 17px;
}

.infoLine {
    color: #93918f;
    font-weight: 400;
    line-height: 1.69rem;
    letter-spacing: 0.03px;
}

.link {
    color: #0087ff;
}

