@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap');

/* **** Google Font family reference ****
font-family: 'Bitter', serif;

*/

body {
  font-family: 'Bitter', serif;
  font-size: 14px;
  color: $grey-1;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 3rem;
}


h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}