@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

/* **** Google Font family reference ****
font-family: 'Montserrat', sans-serif;
font-family: 'Bitter', serif;
*/

@import './color';

body {
  font-family: 'Montserrat', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  color: $gray-base;
}


h1 {
  font-family: 'Bitter', serif;
  font-size: 38px;
  color: #000000;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
