@import '../app.module.scss';

.navbar {
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.linkItems{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linkItem{
    margin-left: 26px;
}