.home{
    margin: 0 auto;
}


.howItWorks {
    margin-bottom: 105px;

    h3 {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        margin-bottom: 16px; 
        letter-spacing: -0.6px;
    }

    p {
        color: #93918f;
        line-height: 1.69rem;
        letter-spacing: 0.01px;
    }
}

.about {
    h3 {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        margin-bottom: 18px; 
        letter-spacing: -0.3px;
    }

    p {
        color: #93918f;
        line-height: 1.69rem;
        letter-spacing: 0.03px;
    }

}


.link {
    color: #0087ff;
}




