@import '../app.module.scss';

.footer {
    height: $footerHeight;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 auto;
    width: 940px;
    max-width: 100%;
}

.leftLink {
    flex: 1;
}

.rightLink {
    flex: 1;
    text-align: right;
}